<script type="module" src="/js/sidebar.js"></script>
<link rel="stylesheet" href="/css/sidebar.css">
<div id="sidebar" class="vertical align justify">
    <a class="text dropdown" href="javascript:void(0);">pvp</a>
    <div class="dropdownContent">
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
    </div>
    <a class="text dropdown" href="javascript:void(0);">party</a>
    <div class="dropdownContent">
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
    </div>
    <a class="text dropdown" href="javascript:void(0);">storefront</a>
    <div class="dropdownContent">
        <a class="text" href="/store">store</a>
        <a class="text" href="/accessory-store">accessory store</a>
        <a class="text" href="/collections">collections</a>
        <a class="text" href="/night-market">night market</a>
    </div>
    <a class="text dropdown" href="javascript:void(0);">pre-game</a>
    <div class="dropdownContent">
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
    </div>
    <a class="text dropdown" href="javascript:void(0);">current game</a>
    <div class="dropdownContent">
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
    </div>
    <a class="text dropdown" href="javascript:void(0);">contract</a>
    <div class="dropdownContent">
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
        <a class="text" href="">amogus</a>
    </div>
    <button class="text" id="logout">Log out</button>
</div>