<div class="text vertical stretch">
    <h1>
        Тут я буду записывать эти ваши туду чтобы не забыть
    </h1>
    <br>
    <ul style="font-size: 32px;">
        <li>Туду</li>
        <li>Туду</li>
        <li>Забыл =(</li>
        <li>Эта страничка</li>
        <li>Добавление нескольких аккаунтов</li>
        <li>Лангуаге</li>
        <li>Просмотр всех бп</li>
        <li>Просмотр всех коллекций</li>
        <li>Просмотр всех оружий</li>
        <li>Поиск</li>
        <li>Двухфакторка</li>
    </ul>
</div>