<script type="module" src="/js/login.js"></script>
<link rel="stylesheet" href="/css/login.css" />
<div class="vertical align">
  <h1 class="title text">TODO: Название проекта</h1>
  <form method="post" class="vertical">
    <input class="text" type="text" name="login" id="loginInput" placeholder="login" />
    <input class="text" type="password" name="password" id="passwordInput" placeholder="password" />
    <div id="rememberDiv">
      <label class="control-checkbox text" id="rememberLabel">remember me
        <input type="checkbox" name="remember" id="rememberInput">
        <div class="control_indicator"></div>
      </label>
    </div>
    <input class="text" type="button" value="Log in" id="loginButton" />
  </form>
</div>