<script type="module" src="js/night-market.js"></script>
<link rel="stylesheet" href="css/night-market.css">

<div class="vertical stretch">
    <h1 class="text" id="title">Night market storefront</h1>
    <div id="storefront-panel">
        <div class="offer gradient"></div>
        <div class="offer gradient"></div>
        <div class="offer gradient"></div>
        <div class="offer gradient"></div>
        <div class="offer gradient"></div>
        <div class="offer gradient"></div>
    </div>
    <div class="horizontal info-box">
        <div id="time-panel" class="slide-up">
            <h2 class="text">Time left:</h2>
        </div>
        <div id="balance-panel" class="slide-up">
            <h2 class="text">Balance:</h2>
        </div>
    </div>
</div>