<script type="module" src="/js/weapon.js"></script>
<link rel="stylesheet" href="/css/weapon.css">
<div id="weapon-container" class="stretch">
    <div id="chromas" class="vertical"></div>
    <div id="levels" class="vertical">
        <div id="title-box">
            <h1 class="text" id="title"></h1>
        </div>
        <div id="levels-box">
        </div>
    </div>
</div>