body {
  height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

h1.title {
  font-weight: 300;
  font-size: 46px;
}

form {
  margin: 100px;
  width: 225px;
}

form * {
  margin: 5px;
  padding: 5px 15px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#loginInput,
#passwordInput {
  font-size: 20px;
  background-color: #1c1c1e;
}

#loginInput:focus,
#passwordInput:focus {
  outline: 2px solid #ff0149;
}

#loginButton {
  margin-top: 10px;
  font-size: 20px;
  background-color: #2c2c2e;
}

#loginButton:focus {
  outline: 3px solid #ff0149;
}

#rememberDiv {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#rememberInput:focus ~ .control_indicator {
  outline: 2px solid #ff0149;
}

#rememberLabel {
  font-size: 20px;
  padding: 3px 0 0 35px;
  margin: 0;
  position: relative;
  cursor: pointer;
}

#rememberInput {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control_indicator {
  padding: 0;
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border: 0px solid #000000;
  border-radius: 5px;
}

.control:hover #rememberInput:not([disabled]):checked ~ .control_indicator,
#rememberInput:checked:focus ~ .control_indicator,
#rememberInput:checked ~ .control_indicator {
  background: #2c2c2e;
}

#rememberInput:disabled ~ .control_indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}

.control_indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

#rememberInput:checked ~ .control_indicator:after {
  display: block;
}

.control-checkbox .control_indicator:after {
  left: 8px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox #rememberInput:disabled ~ .control_indicator:after {
  border-color: #7b7b7b;
}

.control-checkbox .control_indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4.5rem;
  margin-left: -1.3rem;
  margin-top: -1.3rem;
  background: #2aa1c0;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}
