@font-face {
  font-family: san-francisco;
  src: url('/fonts/SF-Pro-Display-Light.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
  color: #ff0149;
}

:focus {
  outline: 2px solid #ff0149;
}

button {
  padding: 5px 10px;
  font-size: 20px;
  background-color: #1c1c1e;
  border: 0 solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

button:focus {
  outline: 3px solid #ff0149;
}

body {
  background-color: black;
  display: flex;
}

.text {
  color: white;
  font-weight: 200;
  font-family: 'san-francisco';
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.justify {
  justify-content: center;
}

.align {
  align-items: center;
}

.stretch {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shadow {
  animation: 0.25s ease-out forwards shadowingReverse;
}

.shadow:hover {
  animation: 0.25s ease-out forwards shadowing;
}

.shadow:focus {
  animation: 0.25s ease-out forwards shadowing;
}

.shadow::selection {
  animation: 0.25s ease-out forwards shadowing;
}

@keyframes shadowing {
  from {
    scale: 0.9;
    filter: drop-shadow(5px 5px 5px #000000);
  }
  to {
    scale: 1;
    filter: drop-shadow(15px 15px 8px #000000);
  }
}

@keyframes shadowingReverse {
  from {
    scale: 1;
    filter: drop-shadow(15px 15px 8px #000000);
  }
  to {
    scale: 0.9;
    filter: drop-shadow(5px 5px 5px #000000);
  }
}

.slide-up {
  animation: 0.25s ease-out forwards textAppearing;
}

@keyframes textAppearing {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.weapon-link:focus {
  text-decoration: none;
  border: none;
  outline: none;
}

.select-animation:focus {
  animation: 0.25s ease-in-out forwards select-animation;
}

@keyframes select-animation {
  from {
    scale: 0.9;
  }
  to {
    scale: 1;
  }
}
