#storefront-panel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 100px 10px;
}

#title {
  font-weight: 300;
  font-size: 46px;
}

.offer-text-box {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.offer-price-box {
  display: flex;
  align-items: center;
  width: 180px;
  transform: translateX(-5px);
}

.offer-name {
  padding: 3px 0;
  border: 0 solid transparent;
  border-radius: 5px;
  font-size: 20px;
}

.gradient {
  background: linear-gradient(-45deg, transparent, transparent, #2c2c2e);
}

.offer {
  overflow: hidden;
  margin: 10px;
  height: 300px;
  width: 200px;
  background-color: #1c1c1e;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.offer-image-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.offer-image {
  max-height: 150px;
  max-width: 300px;
  rotate: 45deg;
}

.price-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.icon {
  height: 20px;
  width: 20px;
}

.info-box {
  width: 100%;
  justify-content: space-between;
}

#time-panel {
  display: flex;
  background-color: #1c1c1e;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  align-self: flex-start;
  margin-left: 100px;
  border-radius: 10px;
}

#balance-panel {
  display: flex;
  background-color: #1c1c1e;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  align-self: flex-end;
  margin-right: 100px;
  border-radius: 10px;
}
